<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Page with Nav, Form Input, and Button</title>
  <Link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/add-product"> Add </a></li>
        <li><a href="/cart"> cart </a></li>
        <li><a href="/products"> products </a></li>
        <li><a href="/admin/products"> Admin products </a></li>
        <li><a href="/orders"> Orders </a></li>
    </ul>
  </nav>
